.whatsapplink {
    margin-top: 5%;
    text-decoration: underline;
    color: blue;
}

.margins-pc {
    margin-top: 15%;
}

.margins-mobile {
    margin-top: 25%;
    margin-right: 5%;
    margin-left: 5%;
}