.reservation-by-instructor {
    background-color: brown;
}

.reservation-by-user {
    background-color: green;
}


button.submit-button.small-margin {
    margin-right: 20px;
}


.MuiDataGrid-root.MuiDataGrid-root--densityStandard {
    direction: ltr !important;
    transform: rotateY(180deg);

    .MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary {
      transform: rotateY(180deg);
      color: #141414 !important;
    }

    .MuiDataGrid-columnHeaderTitle {
      transform: rotateY(180deg);
    }

    .MuiDataGrid-cellContent {
      transform: rotateY(180deg);
    }

    .MuiDataGrid-footerContainer {
      transform: rotateY(180deg);
    }

    .MuiButton-startIcon.MuiButton-iconSizeSmall {
      margin-left: -2px !important;
      margin-right: 8px !important;
    }
  }