.schedule-container {
    padding-block-start: 10vh;
    min-width: 100%;
    flex: 1;

    .side-drawer {
        margin-left: auto;
    }

    .schedule-daily-btn,
    .submit-button {
        border: none;
        outline: none;
        cursor: pointer;
        padding: 16px 24px;
        font-size: calc(0.5rem + 0.5vw);
        background-color: $brand;

        &:hover {
            background-color: $header;
            color: #fff;
        }
    }

    .submit-button {
        margin-block-start: 1.5rem;
    }

    .schedule-header {
        min-width: 100%;
    }
    img.app-logo {
        height: 50px;
        width: 50px;
    }

    .schedule  {
        overflow-x: hidden;
    }
}

img.drawer-icon {
    height: 30px;
    width: 30px;
}

.modal-overlay {
    .modal-body.modal-language {
        min-width: 30vw;
    }
}


.modal-overlay .modal-box.modal-language  {
    min-width: 40vw !important;
}